
<header class="main-header" role="banner">
  

  <div class="container">
   
    {{ page.header }}

    <div class="main-navigation">
      {{ page.menu_principal }}
    </div>
  </div>
  
  <div class="user-navigation">
  	{{ page.menu_segundario }}
  </div>
  
</header>