
<div class="">
	<div class="imagen_principal">
		{{ content.field_imagen_principal }}
	</div>

	<div class="fecha_noticia">
		{{ content.field_fecha }}
	</div>

	<div class="contenido_noticia">
		{{ content.body }}
	</div>
</div>




